/* Center logo inside header */
/* Header base */
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #446e96;
    display: flex;
    align-items: center;
    transition: all 0.3s ease; /* smooth movement */
    z-index: 1000;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.1);

}





/* Layout inside header */
.icon-area {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    border-width: 2px;
    border-bottom: #fff;
    
}

/* Logo resize animation */
.icon {
    transition: all 0.3s ease;
    padding-right: 300px;
    padding-top: 15px;
}

/* Navigation style */
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 20px;
    padding-right: 100px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: large;
    padding-top: 20px;
}

/* Parent container */
.parent {
    display: flex;                  /* side by side */
    align-items: center;            /* vertical center */
    background-color: #446e96;
    min-height: 700px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
}


/* Left & right equal width */
.left, .right {
    flex: 1;
}

/* Image responsive */
.left img {
    max-width: 80%;
    height: 400px;
    justify-content: center;
    margin-left: 280px;
    margin-top: 80px;
    border-radius: 80px;
    border: solid;
    align-items: center;
}

/* Heading styling */
#head1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 1.3;
}feDiffuseLighting

/* Highlight word */
#head1 span.s1 {
    color: #ffd700;
}
#s2 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: #ffd700;
}

/* Optional: text alignment */
.right {
    text-align: left;
}


